{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Мастерство веб-дизайна | Фитклуб</title>
</head>
<body>
<nav>
    <div class="nav__logo">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt="логотип" /></a>
    </div>
    <ul class="nav__links">
        <li class="link"><a href="#">Главная</a></li>
        <li class="link"><a href="#">Программа</a></li>
        <li class="link"><a href="#">Услуга</a></li>
        <li class="link"><a href="#">О нас</a></li>
        <li class="link"><a href="#">Сообщество</a></li>
    </ul>
    <a href="{% url 'profile' %}">
        <button class="btn">Профиль</button>
    </a>
    
</nav>

<header class="section__container header__container">
    <div class="header__content">
        <span class="bg__blur"></span>
        <span class="bg__blur header__blur"></span>
        <h4>ЛУЧШИЙ ФИТНЕС В ГОРОДЕ</h4>
        <h1><span>СДЕЛАЙ</span> ТВОЁ ТЕЛО ПРЕКРАСНЫМ</h1>
        <p>
            Раскройте свой потенциал c MiracleFit и отправляйтесь на путь к более сильному,
            здоровому и уверенному в себе. Зарегистрируйтесь на программу «Сделай свое тело стройным» прямо сейчас
            и станьте свидетелем невероятных преобразований, на которые способно ваше тело!
        </p>
        <a href="http://127.0.0.1:8000/choose-plan/"><button class="btn">Начать</button></a>
    </div>
    <div class="header__image">
        <img src="{% static 'images/header.png' %}" alt="header" />
    </div>
</header>

<section class="section__container explore__container">
    <div class="explore__header">
        <h2 class="section__header">ИЗУЧИТЕ НАШУ ПРОГРАММУ</h2>
        <div class="explore__nav">
            <span><i class="ri-arrow-left-line"></i></span>
            <span><i class="ri-arrow-right-line"></i></span>
        </div>
    </div>
    <div class="explore__grid">
        <div class="explore__card">
            <span><i class="ri-boxing-fill"></i></span>
            <h4>Сила</h4>
            <p>
                Ощутите суть силы, исследуя её различные аспекты: физические, умственные и эмоциональные.
            </p>
            <a href="#">Присоединяйтесь сейчас <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="ri-heart-pulse-fill"></i></span>
            <h4>Физическая подготовка</h4>
            <p>
                Это включает в себя ряд мероприятий, которые улучшают здоровье, силу,
                гибкость и общее благополучие.
            </p>
            <a href="#">Присоединяйтесь сейчас <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="ri-run-line"></i></span>
            <h4>Сжигание жира</h4>
            <p>
                С помощью сочетания тренировок и экспертных рекомендаций мы
                поможем вам достичь ваших целей.
            </p>
            <a href="#">Присоединяйтесь сейчас <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="ri-shopping-basket-fill"></i></span>
            <h4>Набор веса</h4>
            <p>
                Наша программа предлагает эффективный подход к набору веса
                устойчивым способом.
            </p>
            <a href="#">Присоединяйтесь сейчас <i class="ri-arrow-right-line"></i></a>
        </div>
    </div>
</section>

<section class="section__container class__container">
    <div class="class__image">
        <span class="bg__blur"></span>
        <img src="{% static 'images/class-1.jpg' %}" alt="класс" class="class__img-1" />
        <img src="{% static 'images/class-2.jpg' %}" alt="класс" class="class__img-2" />
    </div>

    <div class="class__content">
        <h2 class="section__header">КЛАСС, КОТОРЫЙ ВЫ ПОЛУЧИТЕ ЗДЕСЬ</h2>
        <p>
            Под руководством нашей команды опытных и вдохновляющих инструкторов, "Класс, который вы получите здесь" — это высокоэнергетическая, ориентированная на результат сессия, которая сочетает в себе идеальное сочетание кардио, силовых тренировок и функциональных упражнений. Каждый класс тщательно продуман, чтобы поддерживать ваш интерес и бросать вам вызов, гарантируя, что вы никогда не столкнетесь с плато в ваших фитнес-усилиях.
        </p>
        <a href="http://127.0.0.1:8000/choose-plan/"><button class="btn">Записаться на класс</button></a>
    </div>
</section>

<section class="section__container join__container">
    <h2 class="section__header">ПОЧЕМУ С НАМИ?</h2>
    <p class="section__subheader">
        Наша разнообразная база участников создает дружелюбную и поддерживающую атмосферу, где вы можете завести друзей и оставаться мотивированным.
    </p>
    <div class="join__image">
        <img src="{% static 'images/join.jpg' %}" alt="Присоединяйтесь" />
        <div class="join__grid">
            <div class="join__card">
                <span><i class="ri-user-star-fill"></i></span>
                <div class="join__card__content">
                    <h4>Персональный тренер</h4>
                    <p>Раскройте свой потенциал с нашими опытными персональными тренерами.</p>
                </div>
            </div>
            <div class="join__card">
                <span><i class="ri-vidicon-fill"></i></span>
                <div class="join__card__content">
                    <h4>Практические занятия</h4>
                    <p>Поднимите свою физическую форму с помощью практических занятий.</p>
                </div>
            </div>
            <div class="join__card">
                <span><i class="ri-building-line"></i></span>
                <div class="join__card__content">
                    <h4>Хорошее управление</h4>
                    <p>Поддерживающее руководство для вашего успеха в фитнесе.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section__container price__container">
    <h2 class="section__header">НАШ ПЛАН ЦЕН</h2>
    <p class="section__subheader">
        Наш план цен включает различные уровни членства, каждый из которых адаптирован к различным предпочтениям и фитнес-амбициям.
    </p>
    <div class="price__grid">
        <div class="price__card">
            <div class="price__card__content">
                <h4>Базовый план</h4>
                <h3>₸16000</h3>
                <p><i class="ri-checkbox-circle-line"></i> Умный план тренировок</p>
                <p><i class="ri-checkbox-circle-line"></i> Тренировки дома</p>
            </div>
            <a href="http://127.0.0.1:8000/choose-plan/"><button class="btn price__btn">Присоединяйтесь сейчас</button></a>
        </div>
        <div class="price__card">
            <div class="price__card__content">
                <h4>Профессиональный план</h4>
                <h3>₸20000</h3>
                <p><i class="ri-checkbox-circle-line"></i> ПРО залы</p>
                <p><i class="ri-checkbox-circle-line"></i> Умный план тренировок</p>
                <p><i class="ri-checkbox-circle-line"></i> Тренировки дома</p>
            </div>
            <a href="http://127.0.0.1:8000/choose-plan/"><button class="btn price__btn">Присоединяйтесь сейчас</button></a>
        </div>
        <div class="price__card">
            <div class="price__card__content">
                <h4>Элитный план</h4>
                <h3>₸45000</h3>
                <p><i class="ri-checkbox-circle-line"></i> ЭЛИТНЫЕ залы и занятия</p>
                <p><i class="ri-checkbox-circle-line"></i> ПРО залы</p>
                <p><i class="ri-checkbox-circle-line"></i> Умный план тренировок</p>
                <p><i class="ri-checkbox-circle-line"></i> Тренировки дома</p>
                <p><i class="ri-checkbox-circle-line"></i> Персональные тренировки</p>
            </div>
            <a href="http://127.0.0.1:8000/choose-plan/"><button class="btn price__btn">Присоединяйтесь сейчас</button></a>
        </div>
    </div>
</section>

<section class="review">
    <div class="section__container review__container">
        <span><i class="ri-double-quotes-r"></i></span>
        <div class="review__content">
            <h4>ОТЗЫВЫ УЧАСТНИКОВ</h4>
            <p>
                Что действительно отличает этот зал от других, так это их команда
                экспертов-тренеров. Тренеры обладают знаниями, к ним легко обратиться,
                и они искренне заинтересованы в том, чтобы помочь участникам достичь
                своих фитнес-целей. Они уделяют время, чтобы понять индивидуальные
                потребности и создать персонализированные планы тренировок,
                обеспечивая максимальные результаты и безопасность.
            </p>
            <div class="review__rating">
                <span><i class="ri-star-fill"></i></span>
                <span><i class="ri-star-fill"></i></span>
                <span><i class="ri-star-fill"></i></span>
                <span><i class="ri-star-fill"></i></span>
                <span><i class="ri-star-half-fill"></i></span>
            </div>
            <div class="review__footer">
                <div class="review__member">
                    <img src="{% static 'images/member.jpg' %}" alt="участник" />
                    <div class="review__member__details">
                        <h4>Жумабеков Азамат</h4>
                        <p>Разработчик программного обеспечения</p>
                    </div>
                </div>
                <div class="review__nav">
                    <span><i class="ri-arrow-left-line"></i></span>
                    <span><i class="ri-arrow-right-line"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="section__container footer__container">
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>
    <div class="footer__col">
        <div class="footer__logo"><img src="{% static 'images/logo.png' %}" alt="логотип" /></div>
        <p>
            Сделайте первый шаг к более здоровой и сильной жизни с нашими
            непревзойденными ценовыми планами. Давайте потеем, добиваемся
            успеха и завоевываем вместе!
        </p>

</footer>
<div class="footer__bar">
    Над проектом работали Жумабеков Азамат, Кикбаев Артур, Айткулов Нурдаулет из группы vt2412!
</div>
</body>
</html>
